.order-input {
    width: 630px;
    height: 60px;
}

input[type="number"] {
    height: 60px;
}

.order-section input[type="file"] {
    display: none;
}

.order-section label {
    color: #009444;
    font-size: 16px;
    background: #DEFFED;
    width: 271px;
    height: 60px;
    border: 1px solid #009444;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.order-section form {
    background-color: #F4F7FC;
    width: 100%;
}